.cart-main-container,
.checkout-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
    padding: 2rem 5rem;
}

.cart-items-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation-link,
.navigation-link a{
    color: var(--primary-black);
}

.navigation-link a:hover{
    color: var(--primary-red);
}

.cart-sub-container,
.cart-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
    gap: 8rem;
    place-content: center;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px 4px rgba(133, 133, 133, 0.1);
    padding: 1.5rem 2rem;
    padding-left: 4rem;
}

.cart-header-text{
    font-size: 1.2rem;
}

.cart-item-name{
    font-weight: 400;
}

.cart-img-container{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.cart-img{
    width: 2.5rem;
    height: 2.5rem;
}

.cart-items-quantity{
    display: flex;
    align-items: center;
    gap: 0.6rem
}

.quantity-btn{
    background-color: var(--primary-text-lightcolor);
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 1px solid var(--primary-black);
    border-radius: 2px;
}

.reset-cart-container{
    display: flex;
    justify-content: space-between;
}

.reset-cart-container button{
    width: auto;
    background-color: var(--primary-text-lightcolor);
    color: var(--primary-black);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
}

.reset-cart-container button:hover{
    background-color: var(--primary-red);
    color: var(--primary-text-lightcolor);
    border: 1px solid var(--primary-red);
}

.total-items-container{
    border: 1.8px solid var(--primary-black);
    background-color: var(--primary-text-lightcolor);
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    padding: 1rem;
    gap: 1rem;
}

.total-items-container h4{
    font-weight: 600;
    font-size: 1.1rem;
}

.total-items-maincontainer{
    margin-top: 2rem;
    margin-left: auto;
    width: 20rem;
}
.total-items-subcontainer{
    display: flex;
    justify-content: space-between;
    padding: 0.65rem;
    padding-left: 0rem;
    border-bottom: 2px solid var(--primary-border-color);
}

.last-container{
    border-bottom: none;
}

.checkout-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-btn-container button{
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    color: var(--primary-text-lightcolor);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    height: auto;
    padding: 0.6rem 1.6rem;
}

/* empty cart page */
.empty-cart-container,
.empty-cart-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem 1.8rem 0rem;
    gap: 3rem;
}

.empty-cart-subcontainer{
    gap: 1rem;
    padding: 0rem;
}

.empty-cart-container img {
    width: 23rem;
    height: 23rem;
}

.empty-cart-subcontainer p{
    color: var(--primary-border-color);
    font-weight: 500;
}

.empty-cart-btn{
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    color: var(--primary-text-lightcolor);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    height: auto;
    padding: 0.6rem 2rem;
}

.empty-cart-btn:hover{
    background-color: var(--primary-text-lightcolor);
    color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
}

/* small devices styling for empty Cart page */
@media screen and (min-width: 200px) and (max-width: 400px) {
    .cart-main-container{
        gap: 2.3rem;
        height: auto;
        padding: 3rem 0.7rem;
        font-size: 1.1rem;
    }

    .empty-cart-container,
    .empty-cart-subcontainer{
        padding: 0.5rem 0rem 1rem 0rem;
        gap: 1.7rem;
    }

    .empty-cart-subcontainer{
        gap: 1rem;
        padding: 0rem;
    }

    .empty-cart-container img {
        width: 18rem;
        height: 18rem;
    }

    .empty-cart-btn{
        padding: 0.6rem 1.8rem;
        font-size: 1.14rem;
    }

    .empty-cart-subcontainer p{
        font-size: 1.1rem;
    }


}


/* large mobile designs for empty cart */
@media screen and (min-width: 401px) and (max-width: 759px) {
    .cart-main-container{
        gap: 2rem;
        height: auto;
        padding: 1rem;
        font-size: 1.168rem;
    }

    .empty-cart-container,
    .empty-cart-subcontainer{
        padding: 0.5rem 0rem 1rem 0rem;
        gap: 2.2rem;
    }

    .empty-cart-subcontainer{
        gap: 1rem;
        padding: 0rem;
    }

    .empty-cart-container img {
        width: 19rem;
        height: 19rem;
    }

    .empty-cart-btn{
        padding: 0.6rem 1.8rem;
        font-size: 1.17rem;
    }

    .empty-cart-subcontainer p{
        font-size: 1.1rem;
    }

}

/* empty cart styling for tablets  */
@media screen and (min-width: 760px) and (max-width: 1100px) {
    .empty-cart-btn{
        padding: 0.9rem 2rem;
        font-size: 1.25rem;
    }

    .empty-cart-subcontainer p {
        font-size: 1.2rem;
    }

    .empty-cart-container,
    .empty-cart-subcontainer{
        padding: 0.5rem 0rem 1rem 0rem;
        gap: 2.2rem;
    }

    .empty-cart-container img {
        width: 25rem;
        height: 25rem;
    }

     .cart-main-container{
        gap: 2rem;
        height: auto;
        padding: 1.9rem;
        font-size: 1.45rem;
    }

}


/* checkout section styling */
.checkout-container{
    justify-content: space-evenly;
    gap: 4rem;
    padding: 2rem 7rem;
}

.checkout-section{
    display: flex;
    justify-content: space-between;

}

.billing-header{
    font-size: 1.7rem;
    font-weight: 500;
}

.billing-details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.billing-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout-form-group{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.input-label{
    display: flex;
    gap: 0.15rem;
    color: var(--primary-border-color);
}

.required-marker{
    color: rgb(255, 122, 122);
}

.checkout-input-field{
    padding: 0.5rem 1rem;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 1.2rem;
    width: 29rem;
    color: #868686;
}

.checkout-input-field:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
    box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
    -webkit-text-fill-color: #868686 !important;
}

.order-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 30rem;
}

.order-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30.5rem;
}

.order-img-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.order-img {
    width: 3.1rem;
    height: 3.1rem;
}

.order-details{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-top: 1.5rem;
}

.order-item-price,
.order-item-delivery{
    padding-bottom: 0.6rem;
    border-bottom: 2.5px solid var(--primary-border-color);
}

.order-item-price,
.order-item-delivery,
.order-item-totalPrice{
    display: flex;
    justify-content: space-between;
    width: 30.5rem;
}

/* payment method container */
.payment-method{
    display: flex;
    justify-content: space-between;
    width: 30.5rem;
}

.payment-icon{
    width: 3.5rem;
    height: auto;
}

.verve-icon{
    width: 3.2rem;
    height: auto;
}

.paypal-icon{
    width: 3.7rem;
    height: auto;
}

.payment-icons{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.place-order-btn{
    margin: auto;
    width: 10rem;
    padding: 0.6rem 1.6rem;
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    border-radius: 5px;
    color: var(--primary-text-lightcolor);
    font-size: 1.03rem;
}