/* sign up jsx styling */
/*==============  signup styling starts here ===========*/
.signup-container{
    display: flex;
    height:  auto;
    padding: 4rem 0rem;
    gap: 10%;
}

.signup-container a{
    text-decoration: none;
}

.signup-image{
    height: 48rem;
    width: 50rem;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2.2rem;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    align-items: center;
}

.signup-title{
    font-size: 2.5rem;
}

.signup-subtitle{
    color: var(--primary-border-color);
}

.signup-input{
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: 1rem;
    width: 23.5rem;
    font-size: 1.075rem;
}

.signup-input::placeholder {
    color: var(--primary-border-color);
}

.signup-input--password{
    border: none;
}

.password-container{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: 0rem;
    width: 23.5rem;
    font-size: 1.075rem;
}

.signup-open_eye{
    position: absolute;
    left: 90%;
    font-size: 1.5rem;
    color: #a5a2a2;
}

.signup-button{
    width: 23.5rem;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1.05rem;
}

.signup-button--submit{
    color: var(--primary-text-lightcolor);
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    padding: 1rem;
}

.signup-button--submit:hover{
    background-color: var(--button-hover-color);
}

.signup-google-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-border-color);
    gap: 0.55rem;
}

.signup-google-button{
    border: none;
    background-color: var(--primary-text-lightcolor);
    font-size: 1.05rem;
}

.signup-login-link{
    color: var(--primary-black);
    text-decoration: none;
    border-bottom: 1px solid var(--primary-black);
    padding-bottom: 0.1rem;
}

.signup-login{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.signup-login-link:hover{
    color: var(--primary-red);
    border-bottom: none;
}

/* for small mobile devices like 1phone 5 and 1phone se */
@media screen and (min-width: 200px) and (max-width: 324px) {
    .signup-container {
        padding: 1rem 1.5rem 2.8rem 1.5rem;
    }

    .signup-image{
        display: none;
    }

    .signup-form-container{
        width: 100%;
        gap: 1.2rem;
        margin-top: 1rem;
    }

    .signup-title{
        font-size: 1.7rem;
    }

    .signup-subtitle{
        font-size: 1.1rem;
    }

    .signup-input{
        padding: 1rem;
        width: 17.5rem;
        font-size: 1.095rem;
    }

    .password-container{
        padding: 0rem;
        width: 17.5rem;
        font-size: 1.075rem;
    }

    .signup-open_eye{
        left: 85%;
    }

    .signup-button{
        width: 17.5rem;
        border-radius: 8px;
        font-size: 1.07rem;
    }

    .signup-login{
        font-size: 1.1rem;
    }
}

/* for medium screen for better user experience */
@media screen and (min-width: 325px) and (max-width: 400px) {
    .signup-container {
        padding: 1rem 1.5rem 2.8rem 1.5rem;
    }

    .signup-image {
        display: none;
    }

    .signup-form-container {
        width: 100%;
        gap: 1.2rem;
        margin-top: 1rem;
    }

    .signup-title {
        font-size: 1.7rem;
    }

    .signup-subtitle {
        font-size: 1.1rem;
    }

    .signup-input {
        padding: 1rem;
        width: 20.5rem;
        font-size: 1.15rem;
    }

    .password-container {
        padding: 0rem;
        width: 20.5rem;
        font-size: 1.15rem;
    }

    .signup-open_eye {
        left: 87%;
    }

    .signup-button {
        width: 20.5rem;
        border-radius: 8px;
        font-size: 1.15rem;
    }

    .signup-google-button{
        font-size: 1.13rem;
    }

    .signup-login {
        font-size: 1.1rem;
    }
}

/* for larger mobile devices like 1phone 11promax */
@media screen and (min-width: 401px) and (max-width: 759px) {
    .signup-container {
        padding: 1rem 1.5rem 2.8rem 1.5rem;
    }

    .signup-image {
        display: none;
    }

    .signup-form-container {
        width: 100%;
        gap: 1.2rem;
        margin-top: 1rem;
    }

    .signup-title {
        font-size: 1.7rem;
    }

    .signup-subtitle {
        font-size: 1.1rem;
    }

    .signup-input {
        padding: 1rem;
        width: 21.5rem;
        font-size: 1.15rem;
    }

    .password-container {
        padding: 0rem;
        width: 21.5rem;
        font-size: 1.075rem;
    }

    .signup-open_eye {
        left: 85%;
    }

    .signup-button {
        width: 21.5rem;
        border-radius: 8px;
        font-size: 1.18rem;
    }

    .signup-login {
        font-size: 1.15rem;
    }

    .signup-google-button{
        font-size: 1.15rem;
    }

    .signup-google-container{
        padding: 0.85rem;
    }
}

/* for small tablet device like ipad mini */
@media screen and (min-width: 760px) and (max-width: 1100px) {
    .signup-image{
        display: none;
    }

    .signup-container{
        padding: 2rem 0rem 4rem 0rem;
        width: 100%;
        justify-content: center;
    }

    .signup-form-container{
        gap: 1.8rem;
        margin-top: 1.2rem;
    }

    .signup-form{
        gap: 1.7rem;
        margin-top: 0.65rem;
    }

    .signup-title{
        font-size: 2.9rem;
    }

    .signup-subtitle{
        font-size: 1.2rem;
    }

    .signup-input{
        padding: 1rem;
        width: 38.5rem;
        font-size: 1.5rem;
        height: 5.8rem;
    }

    .password-container{
        width: 38.5rem;
        font-size: 1.5rem;
    }

    .signup-open_eye{
        font-size: 1.8rem;
    }

    .signup-button{
        width: 36.5rem;
        padding: 1.2rem;
        border-radius: 5px;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .signup-google-button{
        font-size: 1.5rem;
    }
    
    .signup-login{
       font-size: 1.5rem;
    }
}

/* End of signup responsiveness */

/*==============  login styling starts here ===========*/
.signin-image{
    height: 38rem;
}

.signin-form-container{
    display: flex;
    justify-content: center;
}

.forgot-password-link{
    color: var(--primary-black);
    margin-left: auto;
}

.forgot-password-link:hover{
    color: var(--primary-red);
}

.signin-login-link{
    margin-left: 0.555rem;
}