#navbar{
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    border-bottom: 1px solid #f4f4f4;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-black);
}
.navbar-logo {
    width: 2.8rem;
    height: 2.8rem;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 5.5rem;
}

.navbar-link{
    text-decoration: none;
    color: var(--primary-black);
}

.navbar-search-container {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.navbar-search-box {
    border: 1px solid var(--primary-lightgrey);
    border-radius: 5px;
    background-color: var(--primary-lightgrey);
    display: flex;
    align-items: center;
    padding: 0.75rem 0.55rem;
}

.navbar-search-input {
    border: none;
    background-color: var(--primary-lightgrey);
    font-size: 1.05rem;
}
.navbar-search-icon {
    font-size: 1.3rem;
    font-weight: bolder;
}

.navbar-icons{
    display: flex;
    gap: 1.3rem;
}

.navbar-icon{
    font-size: 1.65rem;
    color: var(--primary-black);
}

/* container for cart */
.cart-container{
    position: relative;
    display: flex;
    
}

.cart-quantity{
    position: absolute;
    left: 15px;
    bottom: 20px;
    background-color: var(--primary-red);
    color: var(--primary-text-lightcolor);
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    padding: 0.6rem;
}

.cart-quantity p{
    color: white;
    font-size: 1rem;
}


/* Container for the user icon and dropdown */
.user-icon-container {
    position: relative;
    display: inline-block;
    transition: background-color 0.3s ease;
}

/* Change background on click */

.user-icon-container:hover,
.user-icon-container.active {
    background-color: var(--primary-red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    height: 2.1rem;
    width: 2.1rem;
}

/* Dropdown content */
.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgba(115, 113, 113, 0.2);
    /* Glass background effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    /* Blur for glassmorphism */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border-radius: 10px;
    width: 20vw;
    padding: 10px;
    z-index: 10;
}

/* Each item in the dropdown */
.dropdown-content-subcontainer {
    display: flex;
    align-items: center;
    padding: 0.85rem;
    transition: background-color 0.3s ease;
    color: var(--primary-text-lightcolor);
}

.dropdown-content-subcontainer:hover {
    background-color: rgba(104, 99, 99, 0.3);
    /* Slight hover effect */
    border-radius: 5px;
    color: var(--primary-text-lightcolor);
}

.dropdown-content-subcontainer a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--primary-text-lightcolor)
}

.dropdown-icon{
    color: var(--primary-text-lightcolor);
}

/* Ensure the dropdown content has a smooth fade-in effect */
.glass-bg {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}