.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: auto;
    padding: 4.5rem 0rem;
    width: 100vw;
}

a{
    text-decoration: none;
}

.breadcrumb{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.breadcrumb-span{
    display: flex;
    gap: 0.65rem;
}

.breadcrumb-span a{
    color: var(--primary-black);
}

.breadcrumb-span a:hover{
    color: var(--primary-red);
}

.welcome-message{
    font-size: 1.02rem;
    font-weight: 400;
    color: var(--primary-black);
}

.welcome-message span{
    margin-left: 0.1rem;
    color: var(--primary-red)
}

.profile-content{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.profile-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-section,
.orders-section{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    margin-bottom: 0.55rem;
}

.profile-options a,
.orders-section a{
    color: #808080;
}

.profile-options a:hover{
    color: var(--primary-red);
}

.profile-form{
    border: 1px solid #fff;
    border-radius: 0.65rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-header h2{
    color: var(--primary-red);
    font-size: 1.255rem;
    font-weight: 600;
    margin-bottom: 0.95rem;
}

.form-body{
    display: flex;
    flex-direction: column;
    gap: 1.95rem;
}
.form-group{
    display: flex;
    gap: 2.5rem;
}

.form-sub-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input{
    background-color: #f5f5f5;
    border: #f5f5f5;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    height: 3rem;
    width: 19rem;
    color: #7b7b7b;
}

.form-password-container{
    background-color: #f5f5f5;
    border: #f5f5f5;
    padding: 0.5rem 1rem 0.5rem 0.4rem;
    font-size: 1.1rem;
    height: 3rem;
    width: 19rem;
    color: #7b7b7b;
    display: flex;
    align-items: center;
}

.profile-eye-icon{
    font-size: 1.6rem;
}

.form-label{
    color: var(--primary-black);
    font-weight: 500;
}

.form-input:-webkit-autofill,
.form-password-container input:-webkit-autofill,
.form-password-container input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
    box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
    -webkit-text-fill-color: #7b7b7b !important;
}

.form-footer{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    gap: 1.5rem;
    align-items: center;
}

.reset-button{
    color: var(--primary-black);
    font-weight: 550;
    font-size: 1.02rem;
}

.reset-button:hover{
    color: var(--primary-red);
}

.submit-button{
    background-color: var(--primary-red);
    color: var(--primary-text-lightcolor);
    border: 1px solid var(--primary-red);
    border-radius: 3px;
    padding: 0.75rem 2rem;
    font-size: 1.07rem;
}

.submit-button:hover{
    background-color: var(--button-hover-color);
    border: var(--button-hover-color);
}
