.wishlist-main-section{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 4rem 0rem;
    padding-left: 4rem;
}

.wishlist-top-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wishlist-top-subsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.wishlist-bottom-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.wishlist-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    row-gap: 2.5rem;
}

.wishlist-img{
    height: 9rem;
    width: 11rem;
}

.wishlist-single-image{
    height: 15rem;
    width: 17rem;
}

.wishlist-details{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.wishlist-icon-container {
    top: 15px;
    right: 20px;
}

.wishlist-icon-background{
    height: 2.335rem;
    width: 2.335rem;
}

.wishlist-icon {
    font-size: 1.2rem;
}

.wishlist-button{
    background-color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1.07rem;
    font-weight: 500;
    margin-right: 5rem;
}

.wishlist-button:hover{
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    color: var(--primary-text-lightcolor);
}

/* just for you section */
.wishlist-featurd-header{
    justify-content: space-between;
}