body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

:root{
  --primary-black: #000000;
  --primary-red: #db4444;
  --primary-lightgrey: #f5f5f5;
  --primary-text-lightcolor: #fff;
}
a{
  cursor: pointer;
}
input {
  background-color: white;
  -webkit-appearance: none;
  appearance: none;
}

.top-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-black);
  color: var(--primary-text-lightcolor);
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.top-header-container a{
  color: var(--primary-text-lightcolor);
}

/* auth navbar stylling */
.auth-navbar{
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 3rem;
  align-items: center;
  border-bottom: 1.2px solid #b3b3b3;
}
.auth-navbar__logo-container{
  display: flex;
  align-items: center;
}
.auth-navbar__logo{
  height: 2rem;
  width: 2rem;
}
.auth-navbar__title{
  font-size: 1.2rem;
}

/* list ul */
.auth-navbar__menu{
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.auth-navbar__link{
  text-decoration: none;
  color: var(--primary-black);
}
.auth-navbar__link:hover{
  border-bottom: 1px solid #808080;
}

/* input field */
.auth-navbar__search{
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 0.75rem;
}
.auth-navbar__search-input{
  border: none;
  background-color: #f5f5f5;
}
.auth-navbar__search-input:focus{
  outline: none;
  border: none;
}
