.login-middle {
    display: flex;
    padding: 2rem 0rem 3rem 0rem;
    gap: 10%;
    max-height: 85vh;
}

.login-middle__image {
    max-width: 45vw;
}

.login-middle__content {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.login-middle__text {
    display: flex;
    flex-direction: column;
}

.login-middle__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}

.login-middle__description {
    font-size: 1.2rem;
    font-weight: 500;
}

.login-middle__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.login-middle__input {
    border: none;
    font-size: 1.2rem;
}
.input_password_container {
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 0.75rem 0.45rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
}

.email_input {
    margin-top: 2rem;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 0.75rem 0.45rem;
}

.opened_eye{
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.login-middle__description::placeholder {
    font-weight: 400;
    color: #f4f4f4;
}

.login-actions{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.login-button{
    width: 50%;
    padding: 1rem 0rem;
    text-align: center;
    background-color: var(--primary-red);
    color: white;
    border: 1px solid var(--primary-red);
    border-radius: 8px;
    font-size: 1.04rem;
    letter-spacing: 2px;
}

.login-button:hover {
    background-color: var(--button-hover-color);
}

.forgot-password-link{
    color: var(--primary-red);
    text-align: right;
    text-decoration: none;
    font-weight: 1.54rem;
}

@media screen and (min-width: 200px) and (max-width: 400px){
    .login-middle__image {
        display: none;
    }

    .login-middle {
        display: flex;
        justify-content: center;
        padding: 2rem 0rem;
        gap: 0%;
        max-height: 160vh;
    }

    .login-middle__content {
        width: 85vw;
        justify-content: center;
        gap: 1.5rem;
    }

    .login-middle__title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.9rem;
    }

    .login-middle__description {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
    }
}

@media screen and (min-width: 401px) and (max-width: 759px){
    .login-middle__image {
        display: none;
    }

    .login-middle {
        display: flex;
        justify-content: center;
        padding: 2rem 0rem;
        gap: 0%;
        max-height: 160vh;
    }

    .login-middle__content {
        width: 85vw;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .login-middle__title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .login-button{
        max-width: 42%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1100px){
    .login-middle__image {
        display: block;
        max-width: 38vw;
    }

     .login-middle__content {
        width: 50vw;
        justify-content: center;
        gap: 1.5rem;
    }

     .login-middle {
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem 2rem 0rem;
        gap: 3%;
        max-height: 160vh;
    }

     .login-middle__title {
        font-size: 1.8rem;
        margin-top: 1.3rem;
        text-align: center;
    }

    .login-middle__description {
        font-size: 1.1rem;
        text-align: center;
    }
}
