#navbar{
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    border-bottom: 1px solid #f4f4f4;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-black);
}
.navbar-logo {
    width: 2.8rem;
    height: 2.8rem;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 5.5rem;
}

.navbar-link{
    text-decoration: none;
    color: var(--primary-black);
}

.navbar-search-container {
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.navbar-search-box {
    border: 1px solid var(--primary-lightgrey);
    border-radius: 5px;
    background-color: var(--primary-lightgrey);
    display: flex;
    align-items: center;
    padding: 0.75rem 0.55rem;
}

.navbar-search-input {
    border: none;
    background-color: var(--primary-lightgrey);
    font-size: 1.05rem;
}
.navbar-search-icon {
    font-size: 1.3rem;
    font-weight: bolder;
}

.navbar-icons{
    display: flex;
    gap: 1.3rem;
}

.navbar-icon{
    font-size: 1.45rem;
}